<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primoções</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    
    <main>
        <h2>Cadastrar Promoções</h2>
        <section id="caddpromocoes">
            <form action="">
                <div class="row">
                    <div class="col">
                        <label for="txtpromo" class="form-label">Nome Promoção</label>
                        <input type="text" class="form-control" name="txtpromo" id="txtpromo">
                    </div>
                    <div class="col">
                        <label for="selpromo" class="form-label">Desconto</label>
                            <select name="selpromo" id="selpromo" class="form-control">
                                <option value="">Selecione</option>
                               
                            </select>
                    </div>

                    <div class="row">
                        <div class="col">
                        <label for="depromocao">Inicio da Promoção</label>
                        <input type="date" name="depromocao" id="depromocao" class="form-control" >
                     </div>
                     <div class="col">
                        <label for="depromocao">Fim da Promoção</label>
                        <input type="date" name="depromocao" id="depromocao" class="form-control" >
                       </div>
            <div class="col">
                <h2>Promomoção ativa?</h2>
                <label for="radioativapromosim" class="form-check-label m-2">Sim  </label>
                    <input type="radio" name="radioativapromo" id="radioativapromosim" class="form-check-input m-2" tabindex="6" value="1">
                <label for="radioativapromonao" class="form-check-label m-2">Não  </label>
                    <input type="radio" name="radioativapromo" id="radioativapromonao" class="form-check-input m-2" tabindex="7" value="0">
            </div>
                     <div class="row">
                    <label for="txtpromo">Descrição</label>
                    <textarea type="txtpromo" id="txtpromo" cols="" rows="6" class="form-control"></textarea>
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-warning mt-4" value="Cadrastar" name="btcadpromo" id="btcadpromo">
                </div>
            </div>
            </form>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>